/*#region General*/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

.color-blue-logo{
    color: var(--main-color);
}

.neutral-star {
    color: var(--main-bg-color)
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}


/*#endregion*/

/*#region navigation*/

.logo-nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.navigation-bar{
    width: 20%;
    min-width: 225px;
    height: 35px;
    display: flex;
    justify-content: space-between;
}

.navigation-bar a{
    padding-top: 16px;
    font-weight: 400;
    font-size: 16px;
}

#logo-booki{
    height: 20px;
    width: 60px;   
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.blue-border:hover{
    color: var(--main-color);
    border-top: 3px solid var(--main-color) ;
}
/*#endregion*/

/*#region Slogan*/

.slogan{
    margin: 30px 0;
}

.slogan-one{
    font-weight: 700;
    font-size: 22px;
}

.slogan-two{
    font-weight: 400;
    font-size: 16px;
}

/*#endregion*/

/*#region Search bar */

.search-bar form{
    width: 27%;
}

.logo-localisation{
    color: black;
    width: 14px;
    height: 18px;
}

.search-bar form{
    display: flex;
    justify-content: flex-start;
    border: none;
    height: 50px;
}

.search-bar label{
    background-color: var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    width: 15%;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#city{
    border-top: 1px solid var(--filter-bg-color);
    border-bottom: 1px solid var(--filter-bg-color);
    border-right: none;
    border-left: none;
    text-align: center;
    width: 50%;
    min-width: 150px;
    font-weight: 700;
    font-size: 18px;
}

#search-bar-button{
    background-color: var(--main-color);
    color: #F2F2F2;
    border-radius: 0px 15px 15px 0px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    width: 35%;
    min-width: 115px;
}

.magnifying-glass{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    border-radius: 15px;
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.3));
    border: none;
    width: 15%;
    display: none;
    margin-left: -10px; /* décalage du boutton pour le coller au bordure de l'input. */
}

.magnifying-glass i{
    color: var(--main-bg-color);
}

/*#endregion*/

/*#region Filters */

.filter{
    display: flex;
    justify-content: flex-start;
    width: 65%;
    margin-top: 25px;
    height: 50px;
}

.filter-button div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid var(--filter-bg-color);
    border-radius: 50px;
}
.filter-button{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    width: 100%;
}

.logo-filter{
    color: var(--main-color);
    margin-left: 20px;
    margin-right: 10px;
}

.filter p{
    font-weight: 700;
    margin-right: 20px;
    white-space: nowrap;
}

#filter-title{
    font-weight: 700;
}

.filter-button div:hover{
    background-color: var(--filter-bg-color);
}

/*#endregion*/

/*#region Logo information */

.bill-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo-information{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--filter-bg-color);
    border-radius: 50px;
    width: 30px;
    height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--main-color);
    margin-right: 10px;
}

/*#endregion*/

/*  */

/*#region general card */

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}


.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

/*#endregion*/


/*#region accomodations and popular */

.accomodations-and-popular {
    display: flex;
    justify-content: space-between;
}

.accomodations-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/*#endregion*/

/*#region accomodations */

.accomodations {
    width: 65%;
}

.accomodations-cards a{
    width: 30%;
    padding: 5px;
    margin: 15px 0;
    
}

.accomodations-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.accomodations h3{
    margin-top: 5px;
    margin-bottom: 7px;
}
.accomodations p{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 14px;
}

.accomodations .card-content{
    margin-left: 8px;
}

.accomodations .card-rating{
    margin-bottom: 5px;
}

.show-more{
    font-weight: 700;
    font-size: 18px;
}

.accomodations-cards .card img{
    width: 100%;
    height: 110px;
    border-radius: 15px 15px 0 0;
}

.accomodations-title{
    margin: 0 0 10px 0;
}
/*#endregion*/

/*#region Popular */
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}
/*#endregion*/

/*#region Activities*/

.marseille-activities{
    margin: 30px;
}

.activities-cards{
    display: flex;
    justify-content: space-between;
}

.activities-cards a{
    width: 23%;
}

.activities-cards img{
    height: 85%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-cards .card{
    display: flex;
    flex-direction: column;
    height: 400px;
}

.activities-cards .card-content{
    height: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.activities-cards .card-title{
    margin: 0 0 0 15px;
}

/*#endregion*/

/*#region Footer */

.footer{
    background-color: var(--main-bg-color);
    display: flex;
}

.footer div{
    width: 33%;
    line-height: 2.5;
    margin: 15px;
}

.footer h4{
    margin: 0;
}

.footer li{
    list-style-type: none;
}

.footer ul{
    margin: 0;
    padding: 0;
}


/*#endregion */

/* Le code ci-dessous correspond à la version responsive uniquement */

/*#region Media queries */

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .search-bar form{
        width: 40%;
    }

    .navigation-bar{
        width: 30%;
    }

    /*#region Filter*/
    
    .filter{
        flex-direction: column;
        height: auto;
        width: 75%;
    }

    .filter-button{
        height: 50px;
        justify-content: space-between;
    }

    /*#endregion*/

    .accomodations-and-popular {
        flex-direction: column;
        gap: 40px;
    }

    .accomodations {
        width: 100%;
    }

    /*#region Activities*/

    .activities-cards .card{
        height: 190px;
    }

    .activities-cards .card-content{
        height: 25%;
    }

    .activities-cards img{
        height: 75%;
    }

    /*#endregion*/

    /*#region popular */

    .popular {
        width: 100%;
    }

    .popular-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .popular-cards a {
        width: 30%;
    }

    .popular-cards .card-title {
        font-size: 14px;
    }

    .popular-cards .card-subtitle {
        font-size: 13px;
    }

    /*#endregion*/
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container{
        padding: 0;
    }

    .navigation-bar a{
        padding-top: 0;
        padding-bottom: 16px;
    }

    /*#region search bar */

    .magnifying-glass{
        display: block;
    }

    .search-bar{
        margin: 0 15px 0 15px;
    }

    .search-bar form{
        width: 100%;
    }

    .search-bar label{
        width: 15%;
    }

    #city{
        width: 70%;
    }

    #search-bar-button{
        display: none;
    }

    /*#endregion*/

    /*#region Filter */

    .filter-button{
        flex-wrap: wrap;
        height: 130px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        align-content: space-between;
        gap: 0;
    }

    .filter{
        width: auto;
        margin: 20px 15px 0 15px;
    }

    .filter-button div{
        width: 48%;
        height: 40%;
        justify-content: start;
    }

    .filter p{
        margin-right: 0;
        white-space: normal;
    }



    /*#endregion*/

    /*#region Navigation header */

    .logo-nav{
        flex-direction: column;
    }

    .logo-container{
        height: 100%;
    }

    .navigation-bar{
        width: 100%;
    }
    
    .blue-border{
        width: 100%;
        text-align: center;
        border-bottom: 2px solid var(--filter-bg-color);
    }

    .blue-border:hover{
        border-bottom-color: var(--main-color);
        border-top: none;
    }

    /*#endregion*/

    .slogan{
        margin: 30px 15px;
    }

    .bill-info{
        margin-right: 15px;
        margin-left: 15px;
    }

    .accomodations-and-popular{
        flex-direction: column-reverse;
    }

    /*#region Popular*/
    .popular-cards a{
        width: 100%;
    }

    .popular-cards{
        flex-direction: column;
    }

    /*#endregion*/

    /*#region accomodations*/

    .accomodations-cards a{
        width: 100%;
    }

    .accomodations-cards .card{
        width: 100%;
    }

    .accomodations-and-popular section{
        border-radius: 0;
    }

    #accomodations {
        background-color: white;
    }

    /*#endregion*/

    .activities-cards{
        flex-direction: column;
        gap: 15px;
    }

    .activities-cards a{
        width: 100%;
    }

    .footer{
        flex-direction: column;
    }

    .footer div{
        width: auto;
    }
}
