/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

h1{
    font-weight: 700px;
    font-size: 22px;
    line-height: 25.83px;
}

h2{
    font-weight: 400px;
    font-size: 16px;
    line-height: 18.78px;
}

/****** Première en-tête avec le logo et hébergements-Activités*********/
.logo-nav{
    height: 79px;
    display: flex;
    justify-content: space-between;
}

.navigation-bar a:first-child{
    margin-right: 40px;
}

.navigation-bar{
    width: 244px;
    height: 35px;
    display: flex;
    justify-content: space-between;
}

.navigation-bar a{
    padding-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
    align-items: center;
    
}

#logo-bookie{
    height: 19px;
    width: 61.09px;
    
}
.logo-container{
    /*width: 161.09px;
    height: 79px;*/
    display: flex;
    
    justify-content: center;
    align-items: center;
}
/********Barre de recherche *********/
.search-bar-element{
    display: flex;
    border: none;
}

.search-bar-element input{
    border: none;
}

.search-bar-label{
    background-color: var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    height: 49px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-input{
    border-top: 1px var(--main-bg-color) solid;
    border-bottom: 1px var(--main-bg-color) solid;
}

.search-bar-input input{
    text-align: center;
    height: 45px;
    font-weight: 700px;
    font-size: 18px;
    line-height: 21.13px;
}

.search-bar-button input{
    background-color: var(--main-color);
    color: #F2F2F2;
    border-radius: 0px 15px 15px 0px;
    border: none;
    height: 49px;
    width: 132px;
    font-weight: 700;
    size: 18px;
    line-height: 21.13px;
}


/**/
.fa-solid {
    color: black;
    width: 14px;
    height: 18px;
}

/**/
body {
    display: flex;
    justify-content: center;
    /*margin: 0px;*/

}
/**/


/**/
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* Styles des liens */
a {
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: var(--main-color);
    border-top: 3px var(--main-color) solid;
}
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}